@{
    ViewBag.Title = "Sobre Nós";
}


<div class="container">

    <div class="col-md-6 text-justify ">

        <div class="aboutustittlebox ">

            <p></p>

        </div>


    </div>

    <div class="col-md-6 aboutusbox">
        <div class="text-justify ">

            <h2 class="text-center">@ViewBag.Message</h2>
            <br />

            <p>
                Há 35 anos no mercado da construção civil, a VMR Casa Pronta atua na construção de prédios residenciais e tem como marca registrada apartamentos com qualidade construtiva, além de credibilidade e confiabilidade, calcadas na ética e na responsabilidade com que trata seus clientes, fornecedores e colaboradores.
                <br />
            </p>
            <p>
                <br />
                Oferecemos em nossos projetos plantas funcionais, dentro das mais novas tendências de viver bem e tendo todos os empreendimentos bem localizados.
                <br />
            </p>
            <p>
                <br />
                Desde 1983 proporcionamos aos nossos clientes a segurança e a satisfação de bons negócios.
                <br />
            </p>
            <p>
                <br />
                Obrigado!
            </p>
        </div>

    </div>
</div>
<div class="container">
    <div class="col-md-6 text-justify aboutusbox">

        <h2>Nossos Serviços</h2>

    </div>
    <div class="col-md-6 ">

        <div class="text-justify servicoimagebox">
            <h3>
                <li>Reforma</li>
                <li>Acabamento</li>
                <li>Pisos</li>
                <li class="textservico">Elaboração de projetos</li>
                <li>Construção</li>
            </h3>
        </div>

    </div>

</div>