@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homebanner">
    <img src="https://scontent.fcgh7-1.fna.fbcdn.net/v/t1.0-9/118070493_655381075083118_9187070162330154764_o.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=yS0qZpTbr9AAX-RJqY3&_nc_ht=scontent.fcgh7-1.fna&oh=93d72284d08db4380b178e41f369c9a0&oe=5F90E579" width="15%" height="15%"/>
    <br />
    <br />
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Envie nos sua planta &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Serviços</h2>
        <p>
            <li>Elaboração de projetos</li>
            <li>Construção</li>
            <li>Reforma</li>
            <li>Acabamento</li>
            <li>Pisos</li>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mais detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre a VMR</h2>
        <p>
            A VMR Casa Pronta consolida sua marca como uma empresa que alia inovação e profissionalismo a um atendimento personalizado aos clientes. Desde 29 de março de 2004, concretizamos sonhos e surpreendemos o mercado pela alta qualidade e sofisti...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Continue lendo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entre em contato com um consultor</h2>
        <p>
            Texto dizendo para entrar em contato ou deixar os dados que um consultor ira entrar contato para atende-lo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Solicitar orçamento &raquo;</a></p>
    </div>
</div>