@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://scontent.fcgh7-1.fna.fbcdn.net/v/t1.0-9/118070493_655381075083118_9187070162330154764_o.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=yS0qZpTbr9AAX-RJqY3&_nc_ht=scontent.fcgh7-1.fna&oh=93d72284d08db4380b178e41f369c9a0&oe=5F90E579" width="15%" height="15%"/>
    <p class="lead">Pensando em reformar , que tal tirar da imaginção e tornar realidade , a MVR pode te ajudar a deixar seu lar , o mais proximo possivel da ideia que tenha. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Casa Pronta</h2>
        <p>
            Texto serviço casa pronta
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre a MVR</h2>
        <p>
            Texto sobre a empresa.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entre em contato com um consultor</h2>
        <p>
            Texto dizendo para entrar em contato ou deixar os dados que um consultor ira entrar contato para atende-lo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>