

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";


    List<MVR_Casa_Pronta.Models.ImagesModel> images = ViewBag.ListaFinal;;

    }

<h2>Galeria de Projetos</h2>

@Styles.Render("~/Content/lightbox")
@Scripts.Render("~/bundles/lightbox")

@foreach(var image in images){

    IHtmlString divX = new HtmlString("");

    var imageBin = image.IMG_BYTE;
    var base64 = Convert.ToBase64String(imageBin);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);



    IHtmlString div = new HtmlString("<div class=\"img\">" +
                "<a href = \"" + imgSrc + "\" data-lightbox=\"roadtrip\"><img id=\"tumb\" src = \"" + imgSrc + "\" alt=\"" + image.IMG_NAME+ "\" /></a>" +
                "<div class=\"desc\">" +
                    image.IMG_DESCRIPTION +
                "</div>" +
            "</div>");

    @Html.Raw(div)
    //return divX = div;

}