
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<h2>Index</h2>

<div class="img">
    <a href="../dist/images/3g.jpg" data-lightbox="roadtrip">
        <img src="../dist/images/3.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
</div>



