
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGalery .cshtml";
}

<hr />
<div class="gamma-container gamma-loading" id="gamma-container">

    <div class="gamma-container gamma-loading" id="gamma-container">

        <ul class="gamma-gallery">

            <li>
                <div data-alt="imgX" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1300"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1000"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="700">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="300">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="200">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="140">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png"></div>
                    <noscript>
                        <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" />
                    </noscript>
                </div>
            </li>
            <li>
                <div data-alt="imgX" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1300"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1000"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="700">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="300">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="200">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="140">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png"></div>
                    <noscript>
                        <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" />
                    </noscript>
                </div>
            </li>
            <li>
                <div data-alt="imgX" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1300"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1000"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="700">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="300">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="200">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="140">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png"></div>
                    <noscript>
                        <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" />
                    </noscript>
                </div>
            </li>
            <li>
                <div data-alt="imgX" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1300"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1000"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="700">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="300">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="200">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="140">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png"></div>
                    <noscript>
                        <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" />
                    </noscript>
                </div>
            </li>
            <li>
                <div data-alt="imgX" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1300"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="1000"> <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="700">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="300">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="200">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" data-min-width="140">  <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" /></div>
                    <div data-src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png"></div>
                    <noscript>
                        <img src="https://images.vexels.com/media/users/3/202019/isolated/lists/69dc247285e26a02cb832d21595a82b4-agarrando-pequena-casa-planta-preto.png" alt="img03" />
                    </noscript>
                </div>
            </li>
        </ul>

        <div class="gamma-overlay"></div>

        <div id="loadmore" class="loadmore">Example for loading more items...</div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="~/Scripts/jquery.masonry.min.js"></script>
        <script src="~/Scripts/jquery.history.js"></script>
        <script src="~/Scripts/js-url.min.js"></script>
        <script src="~/Scripts/jquerypp.custom.js"></script>
        <script src="~/Scripts/gamma.js"></script>
        <script type="text/javascript">

            $(function () {

                var GammaSettings = {
                    // order is important!
                    viewport: [{
                        width: 1200,
                        columns: 5
                    }, {
                        width: 900,
                        columns: 4
                    }, {
                        width: 500,
                        columns: 3
                    }, {
                        width: 320,
                        columns: 2
                    }, {
                        width: 0,
                        columns: 2
                    }]
                };

                Gamma.init(GammaSettings, fncallback);


                // Example how to add more items (just a dummy):

                var page = 0,
                    items = ['<li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="../Images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="../Images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="../Images/xlarge/3.jpg" data-min-width="700"></div><div data-src="../Images/large/3.jpg" data-min-width="300"></div><div data-src="../Images/medium/3.jpg" data-min-width="200"></div><div data-src="../Images/small/3.jpg" data-min-width="140"></div><div data-src="../Images/xsmall/3.jpg"></div><noscript><img src="../Images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="../Images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="../Images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="../Images/xlarge/3.jpg" data-min-width="700"></div><div data-src="../Images/large/3.jpg" data-min-width="300"></div><div data-src="../Images/medium/3.jpg" data-min-width="200"></div><div data-src="../Images/small/3.jpg" data-min-width="140"></div><div data-src="../Images/xsmall/3.jpg"></div><noscript><img src="../Images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="../Images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="../Images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="../Images/xlarge/3.jpg" data-min-width="700"></div><div data-src="../Images/large/3.jpg" data-min-width="300"></div><div data-src="../Images/medium/3.jpg" data-min-width="200"></div><div data-src="../Images/small/3.jpg" data-min-width="140"></div><div data-src="../Images/xsmall/3.jpg"></div><noscript><img src="../Images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="../Images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="../Images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="../Images/xlarge/3.jpg" data-min-width="700"></div><div data-src="../Images/large/3.jpg" data-min-width="300"></div><div data-src="../Images/medium/3.jpg" data-min-width="200"></div><div data-src="../Images/small/3.jpg" data-min-width="140"></div><div data-src="../Images/xsmall/3.jpg"></div><noscript><img src="../Images/xsmall/3.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350"><div data-src="../Images/xxxlarge/3.jpg" data-min-width="1300"></div><div data-src="../Images/xxlarge/3.jpg" data-min-width="1000"></div><div data-src="../Images/xlarge/3.jpg" data-min-width="700"></div><div data-src="../Images/large/3.jpg" data-min-width="300"></div><div data-src="../Images/medium/3.jpg" data-min-width="200"></div><div data-src="../Images/small/3.jpg" data-min-width="140"></div><div data-src="../Images/xsmall/3.jpg"></div><noscript><img src="../Images/xsmall/3.jpg" alt="img03"/></noscript></div></li>']

                function fncallback() {

                    $('#loadmore').show().on('click', function () {

                        ++page;
                        var newitems = items[page - 1]
                        if (page <= 1) {

                            Gamma.add($(newitems));

                        }
                        if (page === 1) {

                            $(this).remove();

                        }

                    });

                }

            });

        </script>


