
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<h2>Index</h2>

@Styles.Render("~/Content/lightbox")
@Scripts.Render("~/bundles/lightbox")

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">@Html.DisplayForModel()</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>
<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" /> 
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
    <a href="~/images/3g.jpg" data-lightbox="roadtrip">
        <img src="~/images/3.jpg" alt="Fjords" />  
    </a>
    <div class="desc">Add a description of the image here</div>
</div>


